<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/chitr/IdeaProjects/AutomationATB11x">
        <classes>
            <class name="com.thetestingacademy.Day42.Day42_Exercise7_TestNGWithAllureReport">

            </class>
        </classes>
    </test>
</suite>